<div>
    <!-- <div class="alert alert-danger">
        <strong>Oh nooo!</strong>
        <p>More than one abnormal issue are detected. Please make an effort in following the schedule provided. If you believe the
            time is frequently insufficient, please either re-calibrate the base-line by re-creating the account in "Sign Up"</p>
    </div> -->
    <nb-card>
        <nb-card-header>
            <div class="item text-warning">
            <div class="color bg-warning"></div>
            <h5 class="text-warning">Warning #1</h5>
            </div>
        </nb-card-header>
        <nb-card-body>
            <div class="item text-warning">
             Based On Your Previous Records, Your Calculus Homework Rountinely Exceeds Recommended Limits.
            </div>
        </nb-card-body>
    </nb-card>

    <nb-card>
        <nb-card-header>
            <div class="item">
                <div ></div>
                <h5 >Calculus</h5>
            </div>
        </nb-card-header>
        <nb-card-body>
            <div class="item">
               51 Minutes
            </div>
        </nb-card-body>
    </nb-card>
    <nb-card>
        <nb-card-header>
            <div class="item">
                <div ></div>
                <h5>Physics</h5>
            </div>
        </nb-card-header>
        <nb-card-body>
            <div class="item">
               73 Minutes
            </div>
        </nb-card-body>
    </nb-card>
    <nb-card>
        <nb-card-header>
            <div class="item">
                <div ></div>
                <h5 >History</h5>
            </div>
        </nb-card-header>
        <nb-card-body>
            <div class="item">
               10 Minutes
            </div>
        </nb-card-body>
    </nb-card>
    
    
    
</div>