<style>
    .center{

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
    }
    .divider{
    width:0px;
    height:50px;
    display:inline-block;
    
}
    
</style>

<div class="row">
    <div class="col-10 center">
        <nb-card>
            <nb-card-header><h1>Elapsed Time:</h1></nb-card-header>
            <nb-card-body>
                <h1 style="font-family:Helvetica; font-size: 100px">{{formattedTime}}</h1>
            </nb-card-body>
        </nb-card>
    </div>

    <div class="col-2 center">
    <div class="">
                <button class="btn btn-success btn-icon btn-block" (click)="submitTime()">Complete</button>
     </div>
    <div class="divider"></div>

    <div class="">
                <button class="btn btn-danger btn-icon btn-block" (click)="dismissTime()">Dismiss</button>
       </div>
        
            
        
    
    </div>
</div>
